/*Allows space for fixed navbar*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Defaults
-------------------------------------------------*/
.navbar {
	background-color: #0288D1;
}
.navbar-brand {
	color: #FFFFFF !important;
}
.side-borders {
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-left: 25%;
  width: 50%;
  height: 500px;
  margin-bottom: 60px;
}
/* Adjusts caption location because of image positioning */
.carousel-caption {
  z-index: 10;
}

/* heights to match image heights */
.carousel .item {
  height: 500px;
  background-color: #eee;
}
/*Only Accesses imgage that is the child of the item class that 
is a child of the carousel-inner class*/
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Helper Classes
--------------------------------------------------*/
.experience {
	text-align: center;
}
.intro {
  text-align: center;
}