/*Allows space for fixed navbar*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
	background-color: #0288D1;
}
.navbar-brand {
	color: #FFFFFF !important;
}
.intro {
	text-align: center;
}
.side-borders {
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;
}