
/* Defaults
-------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}
.navbar {
	background-color: #0288D1;
}
.navbar-brand {
	color: #FFFFFF !important;
}
.side-borders {
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;
}
.jumbotron {
  background-color: #387ADF;
  color: #FFFFFF;
}
.jumbotron h1{
  color: #FBA834;
}
.jumbotron img {
  -moz-box-shadow:    2px 2px 8px 3px #333;
  -webkit-box-shadow: 2px 2px 8px 3px #333;
  box-shadow:         2px 2px 8px 3px #333;
}
.btn-primary {
  background-color: #FBA834;
}
/* Carousel
-------------------------------------------------- */

.carousel {
  margin-left: 25%;
  width: 50%;
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: #eee;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Helper Classes
--------------------------------------------------*/
.experience {
	text-align: center;
}
.intro {
  text-align: center;
}